extends index 
block title
	h1 Reset your password
block description
	div
		p #{fullName}, you can reset your password by going to the page here:
	div
		a(href=`${process.env.CLIENT_URL}/reset-password?resetToken=${resetToken}`) Reset password
	div
		p This link is only available for an hour.
