extends index 
block title
    h1 Reset your password
block description
    p #{fullName}, you can reset your password by going to the page:
    a(href=`${process.env.CLIENTSIDE_URL}/?resetToken=${resetToken}`) Reset password
    p This link is only available for an hour.
